# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
data/

# Azure Parameters
infrastructure/parameters.json
